html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*::after,
*::before {
    box-sizing: inherit;
}

body{
    margin: 0;
}

.contenedor{
    text-align: center;
}

@keyframes pulse {
    0%{
        transform: scale(1.1);
    }

    50%{
        transform: scale(0.8);
    }

    100%{
        transform: scale(1);
    }

}

@keyframes heartColor {
    10%{
        background-color: #d00;
    }
}

.pulse{
    font-size: 5vw;
    animation: pulse 1s linear infinite;
    
}

.heart{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 10vw;
    
}

.heart::after,
.heart::before {
    position: absolute;
    content: "";
    left: 5vw;
    top: 0;
    width: 5vw;
    height: 8vw;
    background-color: red;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    border-radius: 5vw 5vw 0 0;
    animation: heartColor 1s infinite;
}

.heart::after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    
}
